CONFIG_LONG_OPTS=y
CONFIG_LFS=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=y
CONFIG_FEATURE_COMPRESS_USAGE=y
CONFIG_BUSYBOX=y
CONFIG_STATIC=y
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_FLOAT_DURATION=y
CONFIG_FEATURE_USE_SENDFILE=y
CONFIG_BASENAME=y
CONFIG_BASE64=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CP=y
CONFIG_CUT=y
CONFIG_DIRNAME=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_FALSE=y
CONFIG_FIND=y
CONFIG_FEATURE_FIND_PRINT0=y
CONFIG_FEATURE_FIND_TYPE=y
CONFIG_FEATURE_FIND_MAXDEPTH=y
CONFIG_FEATURE_FIND_PATH=y
CONFIG_HEAD=y
CONFIG_ID=y
CONFIG_KILL=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MKTEMP=y
CONFIG_MV=y
CONFIG_NOHUP=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_READLINK=y
CONFIG_REALPATH=y
CONFIG_RM=y
CONFIG_SED=y
CONFIG_SHA256SUM=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_STAT=y
CONFIG_TAIL=y
CONFIG_TEST=y
CONFIG_TOUCH=y
CONFIG_TR=y
CONFIG_TRUE=y
CONFIG_UNIQ=y
CONFIG_WC=y
CONFIG_XARGS=y
CONFIG_GREP=y
CONFIG_SETSID=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_CMDCMD=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
